* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0755A0;
    --secondary-color: #fff;
    --third-color: #0099D8;
    --fifth-color: #8DD8F2;
    --fourth-color: #f5B51B;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*--------------BODY------------------*/
body {
    font-family: var(--body-font);
    color: darkblue;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

/*--------------HEADER------------------*/
header {
    background-color: var(--third-color);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

header a {
    color: #fff;
    text-decoration: none;

}

header nav {
    grid-row: 1;
    grid-column: 2/3;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 1.2rem;
    list-style: none;

}

.headcontact {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--primary-color);
}

.headcontact p {
    padding: 0;
    margin: .3rem;
}

/*--------------MAIN------------------*/

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.paddle {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin: auto;
}

.paddle h1,
article {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.9;
    background-color: rgba(0, 0, 139, 0.2);

    color: var(--secondary-color);
    margin: 0;

}

.paddle h1 {
    padding-bottom: 0%;
}

.paddle article {
    padding-bottom: 1rem;
}

.paddle img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    justify-content: center;
    margin: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color 
    There is enough*/
}

.hero article {
    position: absolute;
    text-align: left;
    padding: 16px;
    margin-top: 370px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    opacity: 0.9;
    width: 810px;
}

.hero article img {

    float: right;
    width: 100px;
    position: relative;
    margin-right: 10px;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.history {
    position: relative;
    text-align: left;
    padding: 16px;
    /*border: 1px solid var(--fourth-color);*/
    background-color: var(--fifth-color);
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.history h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

section {
    position: relative;
    text-align: left;
    padding: 16px;
    /*border: 1px solid var(--fourth-color);*/
    background-color: var(--fourth-color);
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section p {
    margin: 0;
    /*border: 1px solid #111;*/
}

section h2 {
    background-color: var(--primary-color);
    /*border: 1px solid #111;*/
    width: 100%;
    text-align: center;
    padding: 16px;
    grid-column: 1 / -1;
    color: var(--secondary-color);
}

section img {
    padding: 16px;
    width: 250px;
    height: auto;
}

figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    padding: 16px;
    width: 125px;
    height: auto;
}

/*.hero section.adventure h2 {
    position: absolute;
    margin-top: 500px;
    color: var(--third-color);
}*/

/*.hero section p {
    margin: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
}*/

/*--------------FOOTER------------------*/
footer {
    background-color: var(--third-color);
    color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer img {
    width: 50px;
    height: auto;
    padding: 3px;
    margin-bottom: 30px;
}

.socialmedia a {
    text-decoration: none;
}

.contactinfo {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.map {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem 0 1rem;

}

/*-------Form------*/
form {
    margin: 0 auto;
    padding: 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: start;
}

input,
textarea,
select,
button {
    padding: .5rem;
    min-width: 300px;
    margin: 0 auto;
    display: block;
}

code {
    display: block;
    background-color: rgb(223, 117, 18);
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 20%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: brown;
    color: #fff;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 20%);
}

button:hover {
    background-color: var(--fourth-color);
}

.namemail {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 12px;
    align-items: center;
}

.namemail input[type="text"],
.namemail input[type="email"],
.namemail textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #aaa;
}

textarea {
    height: 4rem;
    resize: vertical;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}

.radio label {
    display: flex;
    align-items: center;

}

input[type="checkbox"] {
    display: flex;
    align-items: center;
    gap: 6px;
}