* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-headings: #0B1F3A;
    --color-headfoot: #123a63;
    --color-text1: #fff;
    --color-background: #b9c7d3;
    --color-details: #e9dfcf;
    --color-details2: #c76b4b;
    --color-hover: #d31515;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*--------------BODY------------------*/
body {
    font-family: var(--body-font);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    color: var(--color-headings);
    background-color: var(--color-background);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--color-headings);
}

main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr / 7fr 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--color-headfoot);

}

header a {
    color: var(--color-text1);
    text-decoration: none;

}

header nav {
    grid-row: 1;
    grid-column: 2/3;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--color-background);
    padding: 10px;
    font-size: 1.2rem;
    list-style: none;

}

.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 840px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--color-background);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    text-align: left;
    padding: 16px;
    margin-top: 370px;
    border: 1px solid var(--fourth-color);
    background-color: var(--color-background);
    opacity: 0.9;
    width: 810px;
    display: flex;
    flex-direction: row;
}

.hero article img {

    float: right;
    width: 100px;
    margin-right: 10px;
}

section {
    position: relative;
    text-align: left;
    padding: 16px;
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section img {
    padding: 16px;
    width: 250px;
    height: auto;
}

.history {
    position: relative;
    text-align: left;
    padding: 16px;
    /*border: 1px solid var(--fourth-color);*/
    background-color: var(--fifth-color);
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: var(--color-text1);
    background-color: var(--color-headfoot);
}

figure img {
    padding: 16px;
    width: 125px;
    height: auto;
}

footer img {
    width: 50px;
    height: auto;
    padding: 3px;
    margin-bottom: 30px;
}

.socialmedia a {
    text-decoration: none;
}