* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffbb00;
    --secondary-color: darkblue;
    --third-color: #aaf;
    --fifth-color: rgb(0, 27, 202);
    --fourth-color: #e9ae6a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*--------------BODY------------------*/
body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

/*--------------HEADER------------------*/
header {
    background-color: var(--third-color);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

header a {
    color: #fff;
    text-decoration: none;

}

header nav {
    grid-row: 1;
    grid-column: 2/3;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--fifth-color);
    padding: 10px;
    font-size: 1.2rem;
    list-style: none;

}

/*--------------MAIN------------------*/

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    justify-content: center;
    margin: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color 
    There is enough*/
}

.hero article {
    position: absolute;
    text-align: left;
    padding: 16px;
    margin-top: 370px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    opacity: 0.9;
    width: 810px;
}

.hero article img {

    float: right;
    width: 100px;
    position: relative;
    margin-right: 10px;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

section {
    position: relative;
    text-align: left;
    padding: 16px;
    /*border: 1px solid var(--fourth-color);*/
    background-color: var(--fourth-color);
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section p {
    margin: 0;
    /*border: 1px solid #111;*/
}

section h2 {
    background-color: #aaf;
    /*border: 1px solid #111;*/
    width: 100%;
    text-align: center;
    padding: 16px;
}

section h2 {
    grid-column: 1 / -1;
}

section img {
    padding: 16px;
    width: 250px;
    height: auto;
}

figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    padding: 16px;
    width: 125px;
    height: auto;
}

/*.hero section.adventure h2 {
    position: absolute;
    margin-top: 500px;
    color: var(--third-color);
}*/

/*.hero section p {
    margin: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
}*/

/*--------------FOOTER------------------*/
footer {
    background-color: var(--third-color);
    color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer img {
    width: 50px;
    height: auto;
    padding: 3px;
    margin-bottom: 30px;
}

.socialmedia a {
    text-decoration: none;
}