* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffbb00;
    --secondary-color: darkblue;
    --third-color: #aaf;
    --fourth-color: #e9c46a;
    --fifth-color: #111;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*--------------BODY------------------*/
body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/*--------------HEADER------------------*/
header {
    background-color: var(--third-color);
    color: var(#fff);
}

header a {
    color: #fff;
}

/*--------------MAIN------------------*/
main {
    background-color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    text-align: left;
    padding: 16px;
    margin-top: 370px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
    width: 810px;
}

.hero article img {
    float: left;
    width: 100px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.hero section {
    position: relative;
    text-align: left;
    padding: 16px;
    /*border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);*/
    float: right;
    opacity: 0.9;
    width: 840px;
    background-color: #fff;
}

.hero section p {
    margin: 10px;
    /*border: 1px solid #111;*/
}

.hero section h2 {
    background-color: #aaf;
    /*border: 1px solid #111;*/
    width: 840px;
    text-align: center;
    padding: 16px;
}

.history {
    position: absolute;
    margin-top: 600px;
    text-align: center;
    background-color: var(--third-color);

}

.adventure {
    position: inherit;
    margin-top: 0px;
}

/*.hero section.adventure h2 {
    position: absolute;
    margin-top: 500px;
    color: var(--third-color);
}*/

/*.hero section p {
    margin: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
}*/

/*--------------FOOTER------------------*/
footer {
    background-color: var(--third-color);
    color: var(--secondary-color);
    margin-top: 1000px;
    position: relative;

}

footer img {
    width: 50px;
    height: auto;
    padding: 3px;
    margin-bottom: 30px;
}

.socialmedia a {
    text-decoration: none;
}