* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffbb00;
    --secondary-color: darkblue;
    --third-color: #aaf;
    --fourth-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*--------------BODY------------------*/
body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/*--------------HEADER------------------*/
header {
    background-color: var(--third-color);
    color: var(#fff);
}

header a {
    color: #fff;
}

/*--------------MAIN------------------*/
main {
    background-color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article p {
    margin: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    text-align: left;
    padding: 16px;
}

.hero article img {
    float: left;
    width: 150px;
    margin-top: 30px;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero section {
    position: inherit;
}

.hero section p {
    margin: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    padding: 20px;
    float: right;
    opacity: 0.9;
}

/*--------------FOOTER------------------*/
footer {
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 5px;
    margin-bottom: auto 0;

}

footer img {
    width: 35px;
    height: auto;
    padding: 5px 3px;
}

.socialmedia a {
    text-decoration: none;
}