.paragraph {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 10px;
    background-color: rgb(204, 204, 204);
    color: rgba(1, 1, 1, 1);
    text-align: left;
}

img {
    float: center;
    margin: 0 0 10px 15px;
    padding: 0;
    width: 500px;
    height: auto;
    box-shadow: 0 0 30px gray;
}

.Footer {
    max-width: auto;
    margin: 10px;
    border: 1px solid rgb(1, 1, 1, 1);
    padding: 10px;
    background-color: rgba(1, 1, 1, 1);
    color: #fff;
    text-align: center;
}

.header {
    max-width: auto;
    margin: 10px;
    border: 1px solid rgb(1, 1, 1, 1);
    padding: 10px;
    background-color: rgba(1, 1, 1, 1);
    color: #fff;
    text-align: center;
    size: 74px;
}