* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --border-color: #111;
    --background-color: #fff;
    --font-size: 16px;
}

/*----------BODY------------*/
header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

/*----------HEADER------------*/
nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    color: var(--background-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/*----------MAIN------------*/
main {
    grid-column: 2/3;
    margin: 1rem;
}

main h1 {
    color: var(--primary-color);
    position: relative;
    border-bottom: 1px solid var(--primary-color);
}

main h2 {
    border-bottom: 1px solid var(--background-color);
}

main p {
    padding: 0px;
}

main img {
    width: 150px;
    height: auto;
    /* border: 1px solid var(--border-color); */
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 20px;
    position: relative;
    float: right;
}

main .box a {
    color: var(--background-color);
}

/*---------ASIDE-----------*/
aside {
    width: 20rem;
    border: 1px solid rgb(0 0 0/0.2);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/*----------FOOTER------------*/
footer {
    margin: 20px;
    border-top: 1px solid var;
    text-align: center;
    /* background-color: var(--primary-color); */
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    /* border: 1rem solid var(--border-color); */
    background-color: var(--primary-color);
    color: var(--background-color);

}

footer a {
    color: #fff;
}