:root {
    --primary-color: darkblue;
    --border-color: #111;
    --background-color: #fff;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--background-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    position: relative;
}

h2 {
    border-bottom: 1px solid var(--background-color);
}

p {
    padding: 0px;
}

main {
    width: 550px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 20px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 20px;
    border-top: 1px solid var;
    width: 98%;
    text-align: center;
    /* background-color: var(--primary-color); */
}